
<div class="package_page_wrap" my-custom-background="#ffffff">
    
  <div class="package_page clearfix" ng-if="!retry">
    <img class="package_image" ng-src="{{image.url}}" />
    <div class="package_message">
        در حال ساخت بسته استیکر
    </div>
    <div class="progress package_progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
        </div>
    </div>
  </div>
  <div class="package_page clearfix" ng-if="retry">
    <div class="package_message package_retry_button" ng-click="refresh()">
        تلاش مجدد
    </div>
  </div>
</div>
