<div class="tos_page_wrap" my-custom-background="#ffffff" dir="rtl">
  <div class="tos_page clearfix">
    <div class="tos_button_wrap">
      <div class="tos_button" ng-click="proceed()">
          ساخت بسته استیکر
      </div>
    </div>
    <div class="tos_content">
      <div class="tos_header"></div>
      <div class="tos_question">
        <p>حالا آماده‌ایم تا بسته‌ی استیکر رو بسازیم! وقتی دکمه‌ی زیر رو بزنی استیکر ساز میموجی ازت می‌خواد تا شماره‌ت رو وارد کنی بعدش کدی که تلگرام برات می‌فرسته رو هم وارد کنی. بعد از اون بسته‌ی استیکر تلگرام برات ساخته می‌شه و توی تلگرامت باز می‌شه.</p>
      </div>
      <div class="tos_question">
        <h3>ارتباط بین میموجی و تلگرام چیه؟</h3>
        <p>میموجی برای ساختن بسته‌ی استیکر نیاز داره تا با تلگرام صحبت بکنه و تعدادی پیام به بخش ساخت استیکر ارسال بکنه. این کار رو شما هم می‌تونید انجام بدید ولی میموجی برای راحتی شما این فرایند رو به جای شما انجام می‌ده و در نهایت بسته‌ی استیکر رو به شما تحویل می‌ده.</p>
      </div>
      <div class="tos_question">
        <h3>اطلاعاتی که وارد می‌کنم کجا میره؟</h3>
        <p>اطلاعات تلگرام شما فقط روی گوشی شما ذخیره می‌شه و کل مراحل ساخت بسته‌ی استیکر روی گوشی خودتون با امنیت کامل انجام می‌شه. استیکر ساز میموجی از این اطلاعات فقط جهت ساخت بسته‌ی استیکر استفاده می‌کنه.</p>
      </div>
      <div class="tos_question">
        <h3>از کجا مطمئن بشم که امنه؟</h3>
        <p>
ما به شما حق می‌دیم که نگران امنیت آنلاین خودتون باشید و این موضوع رو کاملا درک می‌کنیم. برای همین جهت شفافیت کامل کد برنامه‌نویسی شده‌ی این بخش از میموجی رو در آدرس زیر در اختیارتون قرار دادیم. تمام هدف ما خوش‌حال بودن شما و ساختن استیکر‌های بامزه برای شماست :)
          <p class="tos_source_link">https://github.com/pheebsco/memoji-webogram</p>
        </p>
      </div>
    </div>
  </div>
</div>
